* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dividerWidth: 20px;
}

.sea {
  background: #7BB665;
  position: absolute;
  width: 100%;
  height: 100%;
}

.playzone, .controls {
  width: 50%;
  height: 100%;
  margin: 0 auto;
  max-width: 642.8px;
  background-color: #727477;
  position: relative;
  overflow: hidden;
}

.controls {
  display: none;
}

.road-track {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
}

.divider, .divider-line {
  display: block;
  width: var(--dividerWidth);
  height: 100%;
}

.eachDivider, .eachLine {
  display: block;
}

.road {
  width: calc(100% - (var(--dividerWidth) * 2));
  height: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.our-car, .enemy-car {
  display: block;
  height: 150px;
  width: 86px;
  position: absolute;
}


.our-car {
  bottom: 10px;
  left: 40%;
}

.our-car img, .enemy-car img {
  width: 100%;
  height: 100%;
}

.our-actual-car, .enemy-actual-car {
  width: 88%;
  height: 97%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}

.pre-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #000000e5;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  width: 50%;
  max-width: 200px;
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 999px;
  color: #fff;
  font-size: 20px;
  background-color: transparent;
}

@media only screen and (max-width: 900px) {
  .playzone, .controls {
    width: 80%;
    height: calc(100% - 170px);
  }

  .controls {
    display: block;
    height: 170px;
    width: 100%;
    background-color: #000;
    max-width: unset;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .buttons {
    width: 160px;
    height: 160px;
    position: relative;
  }

  .buttons button {
    padding: 0;
    padding-block: 0;
    border: none;
    line-height: 0;
    width: 50px;
    height: 50px;
    margin: 0;
    background-color: transparent;
    position: absolute;
  }

  .buttons button svg {
    fill: #fff;
  }

  .top-btn {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .right-btn {
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .right-btn svg {
    transform: rotate(90deg);
  }

  .bottom-btn {
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .bottom-btn svg {
    transform: rotate(180deg);
  }

  .left-btn {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .left-btn svg {
    transform: rotate(-90deg);
  }
}

@media only screen and (max-width: 600px) {
  .our-car, .enemy-car {
    height: 115px;
    width: 70px;
  }
}
